# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Production
*.tsbuildinfo
next-env.d.ts

# Env
.env*.local
.env

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Supabase
supabase/.branches
supabase/.temp
